/*** Basic Setup ***/
/** base color: #e74c3c ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: #fff;
    color: #555;    
    text-rendering: optimizeLegibility;
}

/***** REUSABLE ****/

.row{
    margin: 0 auto;
    max-width: 1140px;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/**** HEADINGS *****/
h1,h2,h3 {
    
    font-weight: 300;
    text-transform: uppercase;    
    word-spacing: 2px;    
    letter-spacing: 1px;
}


h1 {
    margin: 0;
    color: #fff;
    font-size: 250%;  
    margin-bottom: 10px;
}


h2 {
    font-size: 180%;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e3301e;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    color: #555; 
    margin-bottom: 10px;
}

/**** PARAGRAPHS *****/

section p{
    color: #555;
    text-align: justify;
    margin:  0 10%;
    font-size: 90%;
    word-spacing: 2px;
    line-height: 145%;
    width: 80%;
}


/*** ICONS ****/

.icon-big{
    font-size: 250%;
    display: block;
    color: #e74c3c;
    margin-bottom: 10px;
}

/*** ALL LINKS ***/
a {
    list-style: none;
    text-decoration: none;
}

/*** HEADER ***/
header {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/tech3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;  
}

.header-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}


.dp {
    float:left;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 50 10px;
    transition: height 0.3s, width 0.3s;
}

.dp-info {
    float:left;
    margin: 70 10px;
    color: #fff;
    text-transform: uppercase;    
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px; 
}

.name {
    font-weight: 500;
}
.job {
    font-size: 70%;
}

header img:hover {    
    height: 115px;
    width: 115px;
}

.main-nav {
    float: right;
    list-style: none;    
    margin: 70 0px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    border-bottom: 2px solid #e74c3c transparent;
    padding-bottom: 5px;
    text-transform: uppercase;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e74c3c;
}

/*** BUTTONS ***/
.btn:link,
.btn:visited {
    display: inline-block;    
    border-radius: 200px;
    padding: 10px 30px;
    font-weight: 300;
    transition: background-color 0.2s, border 0.2s, color: 0.2s;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #e74c3c;
    background-color: #e74c3c;
    color: #fff;
    margin-right: 15px;
}

.btn-trans:link,
.btn-trans:visited {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}


.btn:hover,
.btn:active {    
    background-color: #e3301e;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #e3301e; 
    color: #fff;
}

.btn-trans:hover,
.btn-trans:active {
    border: 1px solid #e3301e;
    color: #fff;
}

/*** REACH ME SECTION ***/

.section-whoami {
    background-color: #f4f4f4;
}

.box p {
    font-size: 90%;
    text-align: justify;
    word-spacing: normal;
    margin-left: 0;
}

sub {
    text-transform: none;
}




















/**
.card-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: 216px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 2px 2px #cbcbcb;
    position: relative;
    
}



.card-skill-image img {
    width: 100%;
    height:auto;
    vertical-align: middle;
    display: block;
}

.skill-section p{
    font-size: 45;
    text-align: center;
    margin-top: 20;
}

.card-skill-bottom {
    
}
**/